@use 'normalize';
@use 'theme';

.about {
  display: flex;
  flex-flow: row-reverse wrap;
  align-items: center;
}

.about {
  > img {
	flex: 1 300px;
	max-width: 100%;
	filter: drop-shadow(0px 0px 2px #40b1dd);
  }

  .left-pane {
	flex: 2 10em;
	text-align: justify;
  }

  .social-buttons {
	display: flex;
	width: 100%;
	flex-flow: row;
	align-items: stretch;
  }

  .social-buttons .social-button {
	height: 10vw;
	width: 10vw;
	max-width: 64px;
	display: block;
	background-size: contain;
	background-repeat: no-repeat;
	text-decoration: none;
	font-size: 0;
	color: transparent;
	margin: 20px;
  }
}

.social-buttons {
  .fb {
	background-image: url("images/facebook.svg");
  }
  .github {
	background-image: url("images/github.svg");
  }
  .gmail {
	background-image: url("images/gmail.svg");
  }
  .linkedin {
	background-image: url("images/linkedin.svg");
  }
}

.sticky {
  border-bottom: 1px dashed theme.$theme-color-contrast;
  background-color: white;
  position: sticky;
  top: 0;
}

.eduwork {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
}

.eduwork {
  .education {
	order: 2;
	flex: 1 20em;
	border-left: dotted;
	padding-left: 2vw;
  }
  .work {
	order: 1;
	flex: 1 20em;
  }
  @media all and (max-width: 1000px) {
	.education {
	  flex: 0 100%;
	  border-left: none;
	  padding-left: 0;
	}
	.work {
	  flex: 0 100%;
	}
  }
}

.projects, .eduwork>section {
  .header {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
  }

  .left-pane {
	flex: 1 auto;
  }

  .right-pane {
	flex: 0 auto;
  }
}

.collapsable {
  padding: 1vh 1vw;
  margin: 4vh 1vw;
  transition:  max-height 1s;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 0px 2px gray;
  background-color: white;
}

.collapsable:hover {
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0px 0px 6px gray;
}

.thread {
  transition: max-height 1s;
  overflow: hidden;
}

.thread {
  > button {
	display: block;
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 2px gray;
	border: 1px solid transparent;
	height: 3em;
	margin: 2px;
  }
  > button:hover {
	border: 1px solid black;
  }
}
