.content {
	display: flex;
	flex-flow: row wrap;
}

.sidebar {
	flex: 1 120px;
	padding: 10px 10px 10px 20px;
	margin: 10px 0px 10px 0px;
	border-right: 1px solid black;

	background-color: yellow;
}

.sidebar ul {
	padding: 0;
}

main {
	margin: 10px;
	flex: 10 500px;
}
