@media screen and (min-resolution:100dpi) {
	html{ font-size: 16px; }
}

@media screen and (min-resolution:200dpi) {
	html{ font-size: 32px; }
}

@media screen and (min-resolution:400dpi) {
	html{ font-size: 64px; }
}

@media screen and (min-resolution:800dpi) {
	html{ font-size: 128px; }
}
