/* about section uses flexbox to display text and image side by side with responsiveness */
.about{
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

.about div {
	flex: 16.875em;
	margin: 20px;
	align-self: center;
}

.about p{
	text-align: justify;
}

.about img {
	flex: 0 1 auto;
	margin-left: 5%;
}

/*social section also uses flex-box to display icons in row manner */
.social {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

main {
	padding: 20px 10% 20px 10%;
}
