@media screen and (max-resolution:100dpi) {
	html {
		font-size: 20px;
		color: red;
	}
}

@media screen and (min-resolution: 100dpi) and (max-resolution:200dpi) {
	html {
		font-size: 40px;
		color: blue;
	}
}

@media screen and (min-resolution: 200dpi) and (max-resolution:400dpi) {
	html {
		font-size: 80px;
		color: yellow;
	}
}

h1 {
	font-size: 3em;
}

p {
	font-size: 1em;
}
